<!DOCTYPE html>
<html lang="en" ng-app="DGBOSS" ng-controller="mainController as mainCtrl">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>DGBOSS</title>

  <!-- Bootstrap -->
  <link href="./lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./lib/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" />
  <link href="./lib/nprogress/nprogress.css" rel="stylesheet">
  <link href="./lib/iCheck/skins/flat/green.css" rel="stylesheet">
  <link href="./lib/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
  <link href="./lib/jqvmap/dist/jqvmap.min.css" rel="stylesheet"./>

  <!-- bower:css -->
  <link rel="stylesheet" href="./lib/angular-loading-bar/build/loading-bar.css" />
  <link rel="stylesheet" href="./lib/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" />
  <link rel="stylesheet" href="./lib/nprogress/nprogress.css" />
  <link rel="stylesheet" href="./lib/bootstrap-daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="./lib/morris.js/morris.css" />
  <link rel="stylesheet" href="./lib/fontawesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="./lib/google-code-prettify/bin/prettify.min.css" />
  <link rel="stylesheet" href="./lib/jquery.tagsinput/src/jquery.tagsinput.css" />
  <link rel="stylesheet" href="./lib/switchery/dist/switchery.css" />
  <link rel="stylesheet" href="./lib/ion.rangeSlider/css/ion.rangeSlider.css" />
  <link rel="stylesheet" href="./lib/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" />
  <link rel="stylesheet" href="./lib/normalize-css/normalize.css" />
  <link rel="stylesheet" href="./lib/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css" />
  <link rel="stylesheet" href="./lib/cropper/dist/cropper.css" />
  <link rel="stylesheet" href="./lib/datatables.net-bs/css/dataTables.bootstrap.css" />
  <link rel="stylesheet" href="./lib/datatables.net-buttons-bs/css/buttons.bootstrap.css" />
  <link rel="stylesheet" href="./lib/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.css" />
  <link rel="stylesheet" href="./lib/datatables.net-responsive-bs/css/responsive.bootstrap.css" />
  <link rel="stylesheet" href="./lib/datatables.net-scroller-bs/css/scroller.bootstrap.css" />
  <link rel="stylesheet" href="./lib/dropzone/dist/min/dropzone.min.css" />
  <link rel="stylesheet" href="./lib/pnotify/dist/pnotify.brighttheme.css" />
  <link rel="stylesheet" href="./lib/pnotify/dist/pnotify.buttons.css" />
  <link rel="stylesheet" href="./lib/pnotify/dist/pnotify.css" />
  <link rel="stylesheet" href="./lib/pnotify/dist/pnotify.history.css" />
  <link rel="stylesheet" href="./lib/pnotify/dist/pnotify.mobile.css" />
  <link rel="stylesheet" href="./lib/fullcalendar/dist/fullcalendar.css" />
  <link rel="stylesheet" href="./lib/starrr/dist/starrr.css" />
  <link rel="stylesheet" href="./lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css" />
  <link rel="stylesheet" href="./lib/animate.css/animate.css" />
  <!-- endbower -->

  <!-- inject:css -->
  <link rel="stylesheet" href="./stylesheets/custom.css">
  <link rel="stylesheet" href="./stylesheets/jquery-jvectormap-2.0.3.css">
  <!-- endinject -->

  <link rel="stylesheet" href="./lib/SmartWizard-master/dist/css/smart_wizard.css" />
  <link rel="stylesheet" href="./lib/SmartWizard-master/dist/css/smart_wizard_theme_arrows.css" />

</head>

<body class="nav-md">
  <script src="./lib/jquery/dist/jquery.js"></script>
  <script src="./lib/angular/angular.js"></script>

  <ui-view ng-show="mainCtrl.views.lostPass"></ui-view>

  <div ng-cloak>
    <ng-include src="'./views/login.html'">
  </div>

  <!-- seccion para administrar el sistema -->
  <!-- <div ng-show="mainCtrl.views.admin">
    <ng-include src="'./views/admin.html'">
  </div> -->
  <!-- FIN seccion para administrar el sistema -->

  <div class="container body animateFade" ng-show="mainCtrl.views.main" ng-cloak>
    <div class="main_container">

      <!-- SIDEBARMENU.HTML -->
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="http://www.dgboss.com.ve" target="_blank" class="site_title text-center no-padding" style="background-color: #ededed; border-bottom: 1px solid #D9DEE4; height: 57px;">
              <img id="siteLogo" src="./images/dgBossIsotipo.png" width="60" style="margin-bottom: 9px"><img id="siteTitle" src="./images/dgBossLogotipo.png" width="100"></a>
          </div>

          <div class="clearfix"></div>

          <!-- menu profile quick info -->
          <div class="profile">
            <div class="profile_pic">
              <img src="./images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
              <span>Bienvenido(a),</span>
              <h2>{{mainCtrl.displayName}}</h2>
            </div>
          </div>
          <!-- /menu profile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <!-- <h3>General</h3> -->
              <ul class="nav side-menu">
                <li class="menuItem" style="margin-top: 70px;" ng-click="mainCtrl.sidebarController('inicio')"><a ><i class="fa fa-home"></i>Inicio</a>
              <!--  <ul class="nav child_menu">
                    <li><a href="">DgBoss</a></li>
                  </ul>-->
                </li>
                <li class="menuItem" ng-show="mainCtrl.permisologia.addAsega || mainCtrl.permisologia.editAsega ||
                mainCtrl.permisologia.getAsega || mainCtrl.permisologia.addFinan || mainCtrl.permisologia.editFinan ||
                mainCtrl.permisologia.getFinan || mainCtrl.permisologia.getBanc || mainCtrl.permisologia.getMoned ||
                mainCtrl.permisologia.getRamo || mainCtrl.permisologia.getEmpre || mainCtrl.permisologia.getCober ||
                mainCtrl.rol == 3">
                  <a><i class="fa fa-archive"></i>Datos<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                        <!--<li><a><i class="fa fa-users"></i> Productores <span class="fa fa-chevron-down"></span></a>
                              <ul class="nav child_menu">
                                <li ng-click="mainCtrl.sidebarController('agregarProductores')"><a>Agregar Productores</a></li>
                                <li ng-click="mainCtrl.sidebarController('listarProductores')"><a>Consultar Productores</a></li>
                              </ul>
                        </li>-->
                        <!--<li><a><i class="fa fa-users"></i>Ejecutivo de Cuenta<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                          <li ng-click="mainCtrl.sidebarController('agregarEjecutivoCta')"><a>Agregar Ejecutivo</a></li>
                          <li ng-click="mainCtrl.sidebarController('listarEjecutivoCta')"><a>Consultar Ejecutivo</a></li>
                        </ul>
                       </li>-->
                    <li ng-show="mainCtrl.permisologia.addAsega || mainCtrl.permisologia.editAsega || mainCtrl.permisologia.getAsega || mainCtrl.rol == 3">
                      <a><i class="fa fa-building-o"></i>Aseguradoras<span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <li ng-show="mainCtrl.permisologia.addAsega  || mainCtrl.rol == 3" ng-click="mainCtrl.sidebarController('agregarAseguradora')">
                          <a>Agregar aseguradora</a>
                        </li>
                        <li ng-show="mainCtrl.permisologia.getAsega  || mainCtrl.rol == 3" ng-click="mainCtrl.sidebarController('listarAseguradoras')">
                          <a>Consultar aseguradoras</a>
                        </li>
                      </ul>
                    </li>
                       <li ng-show="mainCtrl.permisologia.addFinan || mainCtrl.permisologia.editFinan || mainCtrl.permisologia.getFinan || mainCtrl.rol == 3">
                         <a><i class="fa fa-line-chart"></i>Financiadoras<span class="fa fa-chevron-down"></span></a>
                         <ul class="nav child_menu">
                           <li ng-show="mainCtrl.permisologia.addFinan || mainCtrl.rol == 3" ng-click="mainCtrl.sidebarController('agregarFinanciadora')">
                             <a>Agregar financiadora</a>
                           </li>
                           <li ng-show="mainCtrl.permisologia.getFinan || mainCtrl.rol == 3" ng-click="mainCtrl.sidebarController('listarFinanciadoras')">
                             <a>Consultar financiadoras</a>
                           </li>
                         </ul>
                       </li>
                        <li ng-show="mainCtrl.permisologia.getBanc || mainCtrl.permisologia.addBanc || mainCtrl.rol == 3">
                          <a><i class="fa fa-bank"></i>Bancos<span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                              <li ng-show="mainCtrl.permisologia.addBanc || mainCtrl.rol == 3" ng-click="mainCtrl.sidebarController('agregarBanco')"><a>Agregar banco</a></li>
                              <li ng-show="mainCtrl.permisologia.getBanc || mainCtrl.rol == 3" ng-click="mainCtrl.sidebarController('listarBancos')"><a>Consultar bancos</a></li>
                          </ul>
                        </li>
                        <li ng-show="mainCtrl.permisologia.getMoned || mainCtrl.permisologia.addMoned || mainCtrl.rol == 3">
                          <a><i class="fa fa-money"></i>Monedas<span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                            <li ng-show="mainCtrl.permisologia.addMoned || mainCtrl.rol == 3" ng-click="mainCtrl.sidebarController('agregarMoneda')"><a>Agregar moneda</a></li>
                            <li ng-show="mainCtrl.permisologia.getMoned || mainCtrl.rol == 3" ng-click="mainCtrl.sidebarController('listarMonedas')"><a>Consultar moneda</a></li>
                          </ul>
                        </li>
                      <!--  <li ng-show="mainCtrl.permisologia.getRamo || mainCtrl.rol == 3">
                          <a><i class="fa fa-code-fork"></i>Ramos<span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                            <li ng-click="mainCtrl.sidebarController('agregarRamo')"><a>Agregar Ramo</a></li>
                            <li ng-click="mainCtrl.sidebarController('listarRamos')"><a>Consultar Ramo</a></li>
                          </ul>
                          </li>-->
                        <li ng-show="mainCtrl.permisologia.getEmpre || mainCtrl.rol == 3">
                        <a><i class="fa fa-desktop"></i>Empresa<span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                          <!--  <li ng-click="mainCtrl.sidebarController('agregarEmpresa')"><a>Agregar Empresa</a></li>-->
                            <li ng-click="mainCtrl.sidebarController('listarEmpresa')"><a>Consultar empresa</a></li>
                          </ul>
                          </li>
                        <li ng-show="mainCtrl.permisologia.getCober || mainCtrl.rol == 3" >
                          <a><i class="fa fa-clipboard"></i>Coberturas<span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
							  <!--  <li ng-click="mainCtrl.sidebarController('agregarCobertura')"><a>Crear Cobertura</a></li> -->
                            <li ng-click="mainCtrl.sidebarController('listarCobertura')"><a>Consultar cobertura</a></li>
                          </ul>
                        </li>
                  </ul>
                </li>
                <!-- fin de Sub menu-->
                <li class="menuItem" ng-show="mainCtrl.permisologia.addAsego || mainCtrl.permisologia.editAsego || mainCtrl.permisologia.getAsego || mainCtrl.permisologia.loadAsego || mainCtrl.rol == 3">
                  <a><i class="fa fa-user"></i>Asegurados<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li ng-click="mainCtrl.sidebarController('agregarAsegurado')" ng-show="mainCtrl.permisologia.addAsego || mainCtrl.rol == 3">
                      <a>Agregar asegurado</a>
                    </li>
                    <li ng-click="mainCtrl.sidebarController('listarAsegurados')" ng-show="mainCtrl.permisologia.getAsego || mainCtrl.rol == 3">
                      <a>Consultar asegurados</a>
                    </li>
                    <li ng-click="mainCtrl.sidebarController('cargarAsegurados')" ng-show="mainCtrl.permisologia.loadAsego || mainCtrl.rol == 3">
                      <a>Cargar</a>
                    </li>
                    <!CARGAR ASEGURADO SE ENCUENTRA EN EL MODULO DE COTIZACIONES>
                  </ul>
                </li>
                <li class="menuItem" ng-show="mainCtrl.permisologia.addPolInd || mainCtrl.permisologia.getPolInd || mainCtrl.permisologia.addPolCol
                || mainCtrl.permisologia.getPolCol || mainCtrl.permisologia.loadCotiz || mainCtrl.permisologia.getCotiz || mainCtrl.permisologia.addRenov ||
                mainCtrl.permisologia.addRecib || mainCtrl.permisologia.getRecib || mainCtrl.permisologia.getRecib || mainCtrl.rol == 3">
                  <a><i class="fa fa-briefcase"></i>Pólizas<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li ng-show="mainCtrl.permisologia.addPolInd || mainCtrl.permisologia.getPolInd || mainCtrl.rol == 3">
                    <a>Pólizas individuales</a>
                    <ul ng-show="mainCtrl.permisologia.addPolInd || mainCtrl.permisologia.getPolInd || mainCtrl.rol == 3" class="nav child_menu">
                      <li ng-click="mainCtrl.sidebarController('agregarPolizasIndividuales')" ng-show="mainCtrl.permisologia.addPolInd || mainCtrl.rol == 3">
                        <a>Agregar</a></li>
                      <li ng-click="mainCtrl.sidebarController('listarPolizasIndividuales')" ng-show="mainCtrl.permisologia.getPolInd || mainCtrl.rol == 3">
                        <a>Consultar</a></li>
                    </ul>
                    </li>
                    <li ng-show="mainCtrl.permisologia.addPolCol || mainCtrl.permisologia.getPolCol || mainCtrl.rol == 3">
                      <a>Pólizas colectivas</a>
                      <ul class="nav child_menu">
                        <li ng-click="mainCtrl.sidebarController('agregarPolizasColectivas')" ng-show="mainCtrl.permisologia.addPolCol || mainCtrl.rol == 3">
                          <a>Agregar</a>
                        </li>
	                      <li ng-click="mainCtrl.sidebarController('agregarPolizasCertificado')" ng-show="mainCtrl.permisologia.addPolCol || mainCtrl.rol == 3">
                          <a>Agregar certificado</a>
                        </li>
                        <li ng-click="mainCtrl.sidebarController('listarPolizasColectivas')" ng-show="mainCtrl.permisologia.getPolCol || mainCtrl.rol == 3">
                          <a>Consultar</a>
                        </li>
                      </ul>
                    </li>
                    <li ng-show="mainCtrl.permisologia.addRenov || mainCtrl.rol == 3">
                      <a ng-click="mainCtrl.sidebarController('listarRenovaciones')" ng-show="mainCtrl.permisologia.addRenov || mainCtrl.rol == 3">Consultar renovaciones</a> <!-- <span class="fa fa-chevron-down"></span> -->
                      <!-- <ul class="nav child_menu">
                        <li ng-click="mainCtrl.sidebarController('agregarComision')" ng-show="mainCtrl.permisologia.addComis || mainCtrl.rol == 3">
                          <a>Agregar Comision</a>
                        </li>
                        <li ng-click="mainCtrl.sidebarController('listarComisiones')" ng-show="mainCtrl.permisologia.addComis || mainCtrl.rol == 3">
                          <a>Consultar Comisiones</a>
                        </li>
                      </ul> -->
                    </li>
                    <li ng-show="mainCtrl.permisologia.loadCotiz || mainCtrl.permisologia.getCotiz || mainCtrl.rol == 3">
                      <a>Cotizaciones</a>
                      <ul class="nav child_menu">
                        <li ng-click="mainCtrl.sidebarController('cargarCotizaciones')" ng-show="mainCtrl.permisologia.loadCotiz || mainCtrl.rol == 3">
                          <a>Cargar</a>
                        </li>
                        <li ng-click="mainCtrl.sidebarController('listarCotizaciones')" ng-show="mainCtrl.permisologia.getCotiz || mainCtrl.rol == 3">
                          <a>Pendientes</a>
                        </li>
                        <li ng-click="mainCtrl.sidebarController('listarCotizacionesSeleccionadas')" ng-show="mainCtrl.permisologia.getCotiz || mainCtrl.rol == 3">
                          <a>Seleccionadas</a>
                        </li>
                      </ul>
                    </li>
                    <li ng-show="mainCtrl.permisologia.addRecib || mainCtrl.permisologia.getRecib || mainCtrl.rol == 3">
                      <a>Recibos</a>
                      <ul class="nav child_menu">
                        <li ng-click="mainCtrl.sidebarController('agregarRecibo')" ng-show="mainCtrl.permisologia.addRecib || mainCtrl.rol == 3">
                          <a>Agregar</a></li>
                        <li ng-click="mainCtrl.sidebarController('listarRecibos')" ng-show="mainCtrl.permisologia.getRecib || mainCtrl.rol == 3">
                          <a>Consultar</a></li>
                        <li ng-show="mainCtrl.permisologia.loadPol || mainCtrl.rol == 3" ng-click="mainCtrl.sidebarController('repoRecibos')">
                          <a>Reporte recibos</a>
                        </li>
                        </ul>
                    </li>
                    <li ng-show="mainCtrl.permisologia.loadPol || mainCtrl.rol == 3" ng-click="mainCtrl.sidebarController('cargarPolizas')">
                      <a>Carga masiva</a>
                    </li>
                    <li ng-show="mainCtrl.permisologia.loadPol || mainCtrl.rol == 3" ng-click="mainCtrl.sidebarController('repoPolizas')">
                      <a>Reporte Pólizas</a>
                    </li>
                  </ul>
                </li>
                <li class="menuItem" ng-show="mainCtrl.permisologia.addRecib || mainCtrl.permisologia.getRecib || mainCtrl.permisologia.addBono ||
                mainCtrl.permisologia.getBono || mainCtrl.permisologia.addFact || mainCtrl.permisologia.getFact || mainCtrl.permisologia.addComis || mainCtrl.rol == 3">
                  <a><i class="fa fa-calculator"></i>Administrativo<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li ng-show=" mainCtrl.permisologia.addComis || mainCtrl.permisologia.getComis || mainCtrl.rol == 3">
                      <a><i class="fa fa-list"></i>Comisiones<span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <li ng-click="mainCtrl.sidebarController('listarComisiones')" ng-show="mainCtrl.permisologia.addComis || mainCtrl.rol == 3">
                          <a>Agregar Comision</a>
                        </li>
                        <li ng-click="mainCtrl.sidebarController('ConsultarComisiones')" ng-show="mainCtrl.permisologia.getComis || mainCtrl.rol == 3">
                          <a>Consultar Comisiones</a>
                        </li>
                      </ul>
                    </li>
                    <li ng-show="mainCtrl.permisologia.getRecib || mainCtrl.rol == 3">
                      <a><i class="fa fa-file-text-o"></i>Recibos<span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <!--<li ng-click="mainCtrl.sidebarController('agregarRecibo')" ng-show="mainCtrl.permisologia.addRecib || mainCtrl.rol == 3">
                          <a>Agregar Recibo</a>
                        </li>-->
                        <li ng-click="mainCtrl.sidebarController('listarRecibos')" ng-show="mainCtrl.permisologia.getRecib || mainCtrl.rol == 3">
                          <a>Consultar recibos</a>
                        </li>
                      </ul>
                    </li>
                    <li ng-show="mainCtrl.permisologia.addBono || mainCtrl.permisologia.getBono || mainCtrl.permisologia.editBono || mainCtrl.permisologia.addBonoAs ||
                      mainCtrl.permisologia.getBonoAs || mainCtrl.rol == 3">
                      <a><i class="fa fa-money"></i>Bonos<span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                      <!-- <li ng-click="mainCtrl.sidebarController('agregarBono')" ng-show="mainCtrl.permisologia.addBono || mainCtrl.rol == 3">
                          <a>Agregar Bono</a>
                        </li>
                        <li ng-click="mainCtrl.sidebarController('listarBonos')" ng-show="mainCtrl.permisologia.getBono || mainCtrl.rol == 3">
                          <a>Consultar Bonos</a>
                        </li>-->
                        <li ng-click="mainCtrl.sidebarController('agregarBonoAsignado')" ng-show="mainCtrl.permisologia.addBono || mainCtrl.rol == 3">
                          <a>Agregar bono </a>
                        </li>
                        <li ng-click="mainCtrl.sidebarController('listarBonosAsignados')" ng-show="mainCtrl.permisologia.getBono || mainCtrl.permisologia.editBono || mainCtrl.rol == 3">
                          <a>Consultar bonos</a>
                        </li>
                      </ul>
                    </li>
                    <li ng-show="mainCtrl.permisologia.addFact || mainCtrl.permisologia.getFact || mainCtrl.rol == 3">
                      <a><i class="fa fa-file-text-o"></i>Factura<span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <li ng-click="mainCtrl.sidebarController('agregarFactura')" ng-show="mainCtrl.permisologia.addFact || mainCtrl.rol == 3">
                          <a>Agregar factura</a>
                        </li>
                        <li ng-click="mainCtrl.sidebarController('consultarFactura')" ng-show="mainCtrl.permisologia.getFact || mainCtrl.permisologia.addFact || mainCtrl.rol == 3">
                          <a>Consultar factura</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>

                  <li class="menuItem" ng-show="mainCtrl.permisologia.addSinie || mainCtrl.permisologia.getSinie || mainCtrl.rol == 3">
                    <a><i class="fa fa-exclamation-triangle"></i>Siniestro<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li ng-click="mainCtrl.sidebarController('agregarSiniestro')" ng-show="mainCtrl.permisologia.addSinie || mainCtrl.rol == 3">
                        <a>Agregar siniestro</a>
                      </li>
                      <li ng-click="mainCtrl.sidebarController('listarSiniestros')" ng-show="mainCtrl.permisologia.getSinie || mainCtrl.rol == 3">
                        <a>Consultar siniestro</a>
                      </li>
					  <li ng-click="mainCtrl.sidebarController('reporteSiniestro')" ng-show="mainCtrl.permisologia.getSinie || mainCtrl.rol == 3">
                        <a>Reporte siniestro</a>
                      </li>
                    </ul>
                  </li>

                  <li class="menuItem" ng-show="true">
                    <a><i class="fa fa-exclamation-triangle"></i>Reportes<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li ng-click="mainCtrl.sidebarController('reportePrimasCobradas')" ng-show="true">
                        <a>Primas cobradas</a>
                      </li>
                      <li ng-click="mainCtrl.sidebarController('reportePrimasPendientes')" ng-show="true">
                        <a>Primas pendientes</a>
                      </li>
                      <li ng-click="mainCtrl.sidebarController('reporteComisionesCobradas')" ng-show="true">
                        <a>Comisiones cobradas</a>
                      </li>
                      <li ng-click="mainCtrl.sidebarController('reporteComisionesPendientes')" ng-show="true">
                        <a>Comisiones pendientes</a>
                      </li>
                      <li ng-click="mainCtrl.sidebarController('reporteBonosCobrados')" ng-show="true">
                        <a>Bonos cobrados</a>
                      </li>
                      <!--<li ng-click="mainCtrl.sidebarController('reporteBonosPendientes')" ng-show="true">
                        <a>Bonos Pendientes</a>
                      </li>-->
                      <li ng-show="true">
                        <a>Pólizas por ramos</a>
                        <ul class="nav child_menu">
                          <li ng-click="mainCtrl.sidebarController('reportePolizaPersona')" ng-show="true">
                            <a>Persona</a>
                          </li>
                          <li ng-click="mainCtrl.sidebarController('reportePolizaPatrimoniales')" ng-show="true">
                            <a>Patrimoniales</a>
                          </li>
                          <li ng-click="mainCtrl.sidebarController('reportePolizaAutomovil')" ng-show="true">
                            <a>Automóvil</a>
                          </li>
                        </ul>
                      </li>
                      <li ng-show="true">
                        <a>Siniestros por ramos</a>
                        <ul class="nav child_menu">
                          <li ng-click="mainCtrl.sidebarController('reporteSiniestroPersona')" ng-show="true">
                            <a>Persona</a>
                          </li>
                          <li ng-click="mainCtrl.sidebarController('reporteSiniestroPatrimoniales')" ng-show="true">
                            <a>Patrimoniales</a>
                          </li>
                          <li ng-click="mainCtrl.sidebarController('reporteSiniestroAutomovil')" ng-show="true">
                            <a>Automóvil</a>
                          </li>
                          <li ng-click="mainCtrl.sidebarController('reporteSiniestroGeneral')" ng-show="true">
                            <a>General</a>
                          </li>
                        </ul>
                      </li>
                      <li ng-click="mainCtrl.sidebarController('reporteCantidadRenovaciones')" ng-show="true">
                        <a>Cantidad de renovaciones</a>
                      </li>
                    </ul>
                  </li>
              </ul>
            </div>
            <div ng-show="mainCtrl.permisologia.addUser || mainCtrl.permisologia.getUser ||
              mainCtrl.permisologia.mngRol || mainCtrl.permisologia.editPerm || mainCtrl.rol == 3" class="menu_section">
              <h3>Administración</h3>
              <ul class="nav side-menu">
                <li class="menuItem" ng-show="mainCtrl.permisologia.addUser || mainCtrl.permisologia.getUser ||
                mainCtrl.permisologia.mngRol || mainCtrl.permisologia.editPerm || mainCtrl.rol == 3">
                  <a><i class="fa fa-users"></i>Gestión de usuarios<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
			              <li ng-click="mainCtrl.sidebarController('agregarUsuarios')" ng-show="mainCtrl.permisologia.addUser || mainCtrl.rol == 3">
                      <a>Agregar usuario</a>
                    </li>
                    <li ng-click="mainCtrl.sidebarController('listarUsuarios')" ng-show="mainCtrl.permisologia.getUser || mainCtrl.rol == 3">
                      <a>Consultar usuarios</a>
                    </li>
                    <li ng-click="mainCtrl.sidebarController('gestionarRoles')" ng-show="mainCtrl.permisologia.mngRol || mainCtrl.rol == 3">
                      <a>Gestionar roles</a>
                    </li>
                    <li ng-click="mainCtrl.sidebarController('asignarPermisos')" ng-show="mainCtrl.permisologia.editPerm || mainCtrl.rol == 3">
                      <a>Asignar permisos</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div  class="menu_section">
              <h3>Administración</h3>
              <ul class="nav side-menu">
                <li class="menuItem" >
                  <a><i class="fa fa-users"></i>Gestión de Documentps<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li ng-click="mainCtrl.sidebarController('agregarCartas')" >
                      <a>Agregar cartas</a>
                    </li>
                    <li ng-click="mainCtrl.sidebarController('listarCartas')" >
                      <a>Consultar cartas</a>
                    </li>
                    <li ng-click="mainCtrl.sidebarController('emitirCartas')" >
                      <a>Emitir cartas</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

          </div>
          <!-- /sidebar menu -->

          <!-- /menu footer buttons
          <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
              <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
          </div>-->
          <!-- /menu footer buttons -->
        </div>
      </div>
      <!-- END SIDEBARMENU.HTML -->

      <!-- top navigation -->
      <div class="top_nav">
        <div class="nav_menu">
          <nav>
            <div class="nav toggle">
              <a id="menu_toggle"><i class=" fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <img src="./images/img.jpg" alt="">{{mainCtrl.displayName}}
                  <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu pull-right">
                  <!-- <li><a href="javascript:;">Profile</a></li>
                  <li>
                    <a href="javascript:;">
                      <span class="badge bg-red pull-right">50%</span>
                      <span>Settings</span>
                    </a>
                  </li>
                  <li><a href="javascript:;">Help</a></li> -->
                  <li><a ng-click="mainCtrl.editProfile()"><i class="fa fa-user pull-right"></i>Editar perfil</a></li>
                  <li><a ng-click="mainCtrl.logOut()"><i class="fa fa-sign-out pull-right"></i>Cerrar sesión</a></li>
                </ul>
              </li>

              <li role="presentation" class="dropdown">
                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-envelope-o"></i>
                  <span class="badge bg-green">6</span>
                </a>
                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                  <li>
                    <a>
                      <span class="image"><img src="./images/img.jpg" alt="Profile Image" /></span>
                      <span>
                        <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                        Film festivals used to be do-or-die moments for movie makers. They were where...
                      </span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="image"><img src="./images/img.jpg" alt="Profile Image" /></span>
                      <span>
                        <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                        Film festivals used to be do-or-die moments for movie makers. They were where...
                      </span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="image"><img src="./images/img.jpg" alt="Profile Image" /></span>
                      <span>
                        <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                        Film festivals used to be do-or-die moments for movie makers. They were where...
                      </span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="image"><img src="./images/img.jpg" alt="Profile Image" /></span>
                      <span>
                        <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                        Film festivals used to be do-or-die moments for movie makers. They were where...
                      </span>
                    </a>
                  </li>
                  <li>
                    <div class="text-center">
                      <a>
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- /top navigation -->

      <!-- page content -->
      <!-- <div ng-show="mainCtrl.views.login">
        <ng-include src="'./views/login.html'">
      </div> -->

      <div class="animateFade" ng-show="mainCtrl.sidebarMenu.inicio">
        <ng-include src="'./views/inicio.html'">
      </div>

      <div ng-show="mainCtrl.sidebarMenu.agregarSiniestro || mainCtrl.sidebarMenu.listarSiniestros || mainCtrl.sidebarMenu.reporteSiniestro ">
        <ng-include src="'./views/siniestroAux.html'">
      </div>

      <div ng-show="mainCtrl.sidebarMenu.repoPolizas ||  mainCtrl.sidebarMenu.listarPolizasColectivas || mainCtrl.sidebarMenu.agregarPolizasCertificado ||  mainCtrl.sidebarMenu.agregarPolizasIndividuales || mainCtrl.sidebarMenu.agregarPolizasColectivas || mainCtrl.sidebarMenu.editarPolizasIndividuales || mainCtrl.sidebarMenu.listarPolizasIndividuales ||  mainCtrl.sidebarMenu.cargarPolizas">
        <ng-include src="'./views/polizas.html'">
      </div>

      <div ng-show=" mainCtrl.sidebarMenu.repoRecibos ||  mainCtrl.sidebarMenu.agregarRecibo || mainCtrl.sidebarMenu.listarRecibos" >
        <ng-include src="'./views/recibos.html'">
      </div>

      <div ng-show=" mainCtrl.sidebarMenu.agregarBono || mainCtrl.sidebarMenu.listarBonos" >
        <ng-include src="'./views/bono.html'">
      </div>

      <div ng-show=" mainCtrl.sidebarMenu.agregarComision || mainCtrl.sidebarMenu.listarComisiones || mainCtrl.sidebarMenu.ConsultarComisiones" >
        <ng-include src="'./views/comisiones.html'">
      </div>

      <div ng-show=" mainCtrl.sidebarMenu.agregarBonoAsignado || mainCtrl.sidebarMenu.listarBonosAsignados" >
        <ng-include src="'./views/bonoAsignado.html'">
      </div>

      <div ng-show=" mainCtrl.sidebarMenu.agregarCobertura || mainCtrl.sidebarMenu.listarCobertura" >
        <ng-include src="'./views/coberturas.html'">
      </div>

      <div ng-show=" mainCtrl.sidebarMenu.agregarEmpresa || mainCtrl.sidebarMenu.listarEmpresa" >
        <ng-include src="'./views/empresa.html'">
      </div>

      <div ng-show="mainCtrl.sidebarMenu.agregarAsegurado || mainCtrl.sidebarMenu.editarAsegurado || mainCtrl.sidebarMenu.listarAsegurados">
        <ng-include src="'./views/asegurado.html'">
      </div>

      <div ng-show="mainCtrl.sidebarMenu.agregarMoneda || mainCtrl.sidebarMenu.listarMonedas">
        <ng-include src="'./views/moneda.html'">
      </div>

      <div ng-show="mainCtrl.sidebarMenu.agregarUsuarios || mainCtrl.sidebarMenu.listarUsuarios || mainCtrl.sidebarMenu.editProfile">
        <ng-include src="'./views/usuario.html'">
      </div>

      <div ng-show="mainCtrl.sidebarMenu.gestionarRoles || mainCtrl.sidebarMenu.asignarPermisos">
        <ng-include src="'./views/roles.html'">
      </div>

      <div ng-show="mainCtrl.sidebarMenu.agregarFinanciadora || mainCtrl.sidebarMenu.listarFinanciadoras">
        <ng-include src="'./views/financiadora.html'">
      </div>

      <div ng-show="mainCtrl.sidebarMenu.agregarRamo || mainCtrl.sidebarMenu.listarRamos">
        <ng-include src="'./views/ramo.html'">
      </div>

      <div ng-show="mainCtrl.sidebarMenu.agregarBanco || mainCtrl.sidebarMenu.listarBancos">
        <ng-include src="'./views/banco.html'">
      </div>

      <div ng-show="mainCtrl.sidebarMenu.agregarAseguradora  || mainCtrl.sidebarMenu.listarAseguradoras">
        <ng-include src="'./views/aseguradora.html'">
      </div>

	    <div ng-show="mainCtrl.sidebarMenu.agregarProductores || mainCtrl.sidebarMenu.listarProductores">
        <ng-include src="'./views/productores.html'">
      </div>

      <div ng-show="mainCtrl.sidebarMenu.agregarEjecutivoCta || mainCtrl.sidebarMenu.listarEjecutivoCta">
        <ng-include src="'./views/ejecutivoCta.html'">
      </div>

      <div ng-show="mainCtrl.sidebarMenu.agregarFactura || mainCtrl.sidebarMenu.consultarFactura">
        <ng-include src="'./views/factura.html'">
      </div>

      <div ng-show="mainCtrl.sidebarMenu.cargarCotizaciones || mainCtrl.sidebarMenu.listarCotizaciones || mainCtrl.sidebarMenu.listarCotizacionesSeleccionadas || mainCtrl.sidebarMenu.cargarAsegurados">
        <ng-include src="'./views/cotizaciones.html'">
      </div>

      <div ng-show="mainCtrl.sidebarMenu.agregarRenovacion || mainCtrl.sidebarMenu.listarRenovaciones">
        <ng-include src="'./views/renovaciones.html'">
      </div>

      <div ng-show="mainCtrl.sidebarMenu.agregarCartas || mainCtrl.sidebarMenu.listarCartas|| mainCtrl.sidebarMenu.emitirCartas">
        <ng-include src="'./views/letter.html'">
      </div>


      <!-- /page content -->

      <!-- footer content -->
      <footer>
        <div class="pull-right">
          DGBOSS Brokers Oriented Services
        </div>
        <div class="clearfix"></div>
      </footer>
      <!-- /footer content -->
    </div>
  </div>



  <!-- bower:js -->
  <script src="./lib/jquery/dist/jquery.js"></script>
  <script src="./lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="./lib/angular/angular.js"></script>
  <script src="./lib/angular-route/angular-route.js"></script>
  <script src="./lib/angular-loading-bar/build/loading-bar.js"></script>
  <script src="./lib/angular-animate/angular-animate.js"></script>
  <script src="./lib/angular-input-masks/angular-input-masks-standalone.js"></script>
  <script src="./lib/ng-excel/ngExcel.js"></script>
  <script src="./lib/moment/moment.js"></script>
  <script src="./lib/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
  <script src="./lib/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js"></script>
  <script src="./lib/fastclick/lib/fastclick.js"></script>
  <script src="./lib/nprogress/nprogress.js"></script>
  <script src="./lib/Chart.js/dist/Chart.js"></script>
  <script src="./lib/gauge.js/dist/gauge.js"></script>
  <script src="./lib/gauge.js/dist/gauge.min.js"></script>
  <script src="./lib/bootstrap-progressbar/bootstrap-progressbar.js"></script>
  <script src="./lib/iCheck/icheck.min.js"></script>
  <script src="./lib/Flot/jquery.flot.js"></script>
  <script src="./lib/bootstrap-daterangepicker/daterangepicker.js"></script>
  <script src="./lib/skycons/skycons.js"></script>
  <script src="./lib/jquery-sparkline/dist/jquery.sparkline.js"></script>
  <script src="./lib/eve/eve.js"></script>
  <script src="./lib/raphael/raphael.min.js"></script>
  <script src="./lib/mocha/mocha.js"></script>
  <script src="./lib/morris.js/morris.js"></script>
  <script src="./lib/jquery.hotkeys/jquery.hotkeys.js"></script>
  <script src="./lib/google-code-prettify/bin/prettify.min.js"></script>
  <script src="./lib/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
  <script src="./lib/jquery.tagsinput/src/jquery.tagsinput.js"></script>
  <script src="./lib/transitionize/dist/transitionize.js"></script>
  <script src="./lib/switchery/dist/switchery.js"></script>
  <script src="./lib/select2/dist/js/select2.js"></script>
  <script src="./lib/autosize/dist/autosize.js"></script>
  <script src="./lib/parsleyjs/dist/parsley.js"></script>
  <script src="./lib/devbridge-autocomplete/dist/jquery.autocomplete.js"></script>
  <script src="./lib/ion.rangeSlider/js/ion.rangeSlider.js"></script>
  <script src="./lib/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js"></script>
  <script src="./lib/jquery.inputmask/dist/inputmask/inputmask.js"></script>
  <script src="./lib/jquery-knob/js/jquery.knob.js"></script>
  <script src="./lib/cropper/dist/cropper.js"></script>
  <script src="./lib/datatables.net/js/jquery.dataTables.js"></script>
  <script src="./lib/datatables.net-bs/js/dataTables.bootstrap.js"></script>
  <script src="./lib/datatables.net-buttons/js/dataTables.buttons.js"></script>
  <script src="./lib/datatables.net-buttons/js/buttons.colVis.js"></script>
  <script src="./lib/datatables.net-buttons/js/buttons.flash.js"></script>
  <script src="./lib/datatables.net-buttons/js/buttons.html5.js"></script>
  <script src="./lib/datatables.net-buttons/js/buttons.print.js"></script>
  <script src="./lib/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
  <script src="./lib/datatables.net-fixedheader/js/dataTables.fixedHeader.js"></script>
  <script src="./lib/datatables.net-keytable/js/dataTables.keyTable.js"></script>
  <script src="./lib/datatables.net-responsive/js/dataTables.responsive.js"></script>
  <script src="./lib/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="./lib/datatables.net-scroller/js/dataTables.scroller.js"></script>
  <script src="./lib/pdfmake/build/pdfmake.js"></script>
  <script src="./lib/pdfmake/build/vfs_fonts.js"></script>
  <script src="./lib/validator/validator.js"></script>
  <script src="./lib/dropzone/dist/min/dropzone.min.js"></script>
  <script src="./lib/pnotify/dist/pnotify.animate.js"></script>
  <script src="./lib/pnotify/dist/pnotify.buttons.js"></script>
  <script src="./lib/pnotify/dist/pnotify.callbacks.js"></script>
  <script src="./lib/pnotify/dist/pnotify.confirm.js"></script>
  <script src="./lib/pnotify/dist/pnotify.js"></script>
  <script src="./lib/pnotify/dist/pnotify.desktop.js"></script>
  <script src="./lib/pnotify/dist/pnotify.history.js"></script>
  <script src="./lib/pnotify/dist/pnotify.mobile.js"></script>
  <script src="./lib/pnotify/dist/pnotify.nonblock.js"></script>
  <script src="./lib/fullcalendar/dist/fullcalendar.js"></script>
  <!--<script src="./lib/requirejs/require.js"></script>-->
  <script src="./lib/jquery.easy-pie-chart/dist/jquery.easypiechart.js"></script>
  <script src="./lib/starrr/dist/starrr.js"></script>
  <script src="./lib/jszip/dist/jszip.js"></script>
  <script src="./lib/jquery-mousewheel/jquery.mousewheel.js"></script>
  <script src="./lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
  <script src="./lib/jqvmap/dist/jquery.vmap.min.js"></script>
  <script src="./lib/DateJS/build/production/date.min.js"></script>
  <script src="./lib/flot/jquery.flot.js"></script>
  <script src="./lib/flot.curvedlines/curvedLines.js"></script>
  <script src="./lib/flot-spline/js/jquery.flot.spline.js"></script>
  <!-- endbower -->

  <!-- inject:js -->
  <script src="./scripts/app.js"></script>
  <script src="./scripts/custom.js"></script>
  <script src="./scripts/controllers/adminController.js"></script>
  <script src="./scripts/controllers/aseguradoController.js"></script>
  <script src="./scripts/controllers/aseguradoraController.js"></script>
  <script src="./scripts/controllers/bancoController.js"></script>
  <script src="./scripts/controllers/bonoAsignadoController.js"></script>
  <script src="./scripts/controllers/bonoController.js"></script>
  <script src="./scripts/controllers/coberturaController.js"></script>
  <script src="./scripts/controllers/comisionesController.js"></script>
  <script src="./scripts/controllers/corretajeController.js"></script>
  <script src="./scripts/controllers/corretajeController0.js"></script>
  <script src="./scripts/controllers/cotizacionesController.js"></script>
  <script src="./scripts/controllers/ejecutivoCtaController.js"></script>
  <script src="./scripts/controllers/empresaController.js"></script>
  <script src="./scripts/controllers/facturaController.js"></script>
  <script src="./scripts/controllers/financiadoraController.js"></script>
  <script src="./scripts/controllers/inicioController.js"></script>
  <script src="./scripts/controllers/loginController.js"></script>
  <script src="./scripts/controllers/mainController.js"></script>
  <script src="./scripts/controllers/monedaController.js"></script>
  <script src="./scripts/controllers/polizasController.js"></script>
  <script src="./scripts/controllers/productoresController.js"></script>
  <script src="./scripts/controllers/prueba.js"></script>
  <script src="./scripts/controllers/ramoController.js"></script>
  <script src="./scripts/controllers/reciboController.js"></script>
  <script src="./scripts/controllers/renovacionesController.js"></script>
  <script src="./scripts/controllers/rolesController.js"></script>
  <script src="./scripts/controllers/siniestroController.js"></script>
  <script src="./scripts/controllers/usuarioController.js"></script>
  <script src="./scripts/services/aseguradoraServices.js"></script>
  <script src="./scripts/services/aseguradoServices.js"></script>
  <script src="./scripts/services/authorizationServices.js"></script>
  <script src="./scripts/services/bancoServices.js"></script>
  <script src="./scripts/services/bonoAsignadoServices.js"></script>
  <script src="./scripts/services/bonoServices.js"></script>
  <script src="./scripts/services/cartaVehiculoServices.js"></script>
  <script src="./scripts/services/certificadoPolizaServices.js"></script>
  <script src="./scripts/services/coberturaServices.js"></script>
  <script src="./scripts/services/comisionServices.js"></script>
  <script src="./scripts/services/cotizacionesServices.js"></script>
  <script src="./scripts/services/empresaServices.js"></script>
  <script src="./scripts/services/facturaServices.js"></script>
  <script src="./scripts/services/financiadoraServices.js"></script>
  <script src="./scripts/services/inicioServices.js"></script>
  <script src="./scripts/services/loginServices.js"></script>
  <script src="./scripts/services/mailServices.js"></script>
  <script src="./scripts/services/mainServices.js"></script>
  <script src="./scripts/services/monedaServices.js"></script>
  <script src="./scripts/services/notaCreditoServices.js"></script>
  <script src="./scripts/services/notaDebitoServices.js"></script>
  <script src="./scripts/services/parametroServices.js"></script>
  <script src="./scripts/services/polizaServices.js"></script>
  <script src="./scripts/services/ramoServices.js"></script>
  <script src="./scripts/services/reciboServices.js"></script>
  <script src="./scripts/services/renovacionesServices.js"></script>
  <script src="./scripts/services/reportServices.js"></script>
  <script src="./scripts/services/rolesServices.js"></script>
  <script src="./scripts/services/siniestroServices.js"></script>
  <script src="./scripts/services/usuarioServices.js"></script>
  <script src="./scripts/services/vehiculoServices.js"></script>
  <script src="./directives/formularioDirective.js"></script>
  <script src="./directives/polizasCoberturas.js"></script>
  <script src="./scripts/services/letterServices.js"></script>
  <script src="./scripts/controllers/letterController.js"></script>
  <!-- endinject -->

  <script src="./lib/SmartWizard-master/dist/js/jquery.smartWizard.js"></script>



  <script src="./lib/Flot/jquery.flot.js"></script>
  <script src="./lib/Flot/jquery.flot.pie.js"></script>
  <script src="./lib/Flot/jquery.flot.time.js"></script>
  <script src="./lib/Flot/jquery.flot.stack.js"></script>
  <script src="./lib/Flot/jquery.flot.resize.js"></script>

  <script src="./lib/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="./lib/flot-spline/js/jquery.flot.spline.min.js"></script>

  <script src="./lib/DateJS/build/date.js"></script>

  <script src="./lib/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="./lib/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
  <script src="./lib/ui-mask-master/dist/mask.js"></script>
  <script src="./lib/jqWidgets/jqWidgets/jqxcore.js"></script>
  <script src="./lib/jqWidgets/jqWidgets/jqxdraw.js"></script>
  <script src="./lib/jqWidgets/jqWidgets/jqxchart.core.js"></script>
  <script src="./lib/jqWidgets/jqWidgets/jqxdata.js"></script>

  <!-- <script src="./lib/angular-ui-router/angular-ui-router.js"></script> -->
  <script src="./lib/angular-ui-router/angular-ui-router.min.js"></script>
  <script src="./lib/angular-cookies/angular-cookies.js"></script>
  <!-- <script src="./lib/angular-ui-router/ui-router-angularjs.js"></script> -->

</body>
</html>
