<div class="panel">
    <a class="panel-heading collapsed" role="tab" id="headingTree" data-toggle="collapse" data-parent="#accordion" href="#polizaCobertura" aria-expanded="false" aria-controls="poliza">
        <h4 class="panel-title">Cobertura</h4>
    </a>
    <div id="polizaCobertura" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTree" aria-expanded="false" style="height: 0px;">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12  ">
          <!--Inicio de tabla-->
            <div class="x_panel">
              <div class="x_title">
                <h2>Coberturas Básicas</h2>
                <div class="clearfix"></div>
              </div>
              <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                  <th class="column-title">Cobertura </th>
                  <th class="column-title">Suma Asegurada </th>
                  <th class="column-title">Acción
                  </th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                  <th >
                        <select class="form-control">
                        <option value="Seleccione..">Seleccione..</option>
                        <option value="">Pérdida Total</option>
                        <option value="">Cobertura Amplia</option>
                        <option value="">RCV</option>

                        </select>
                  </th>
                  <td >

                          <div class="form-group has-feedback">
                            <div class="form-group">
                              <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="">
                            </div>
                          </div>
                  </td>
                  <td><i class="fa fa-plus-square"></i></td>
                  </tr>
                </tbody>
                </table>
              </div>
              <!--fin de tabla-->
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12  ">
            <div class="x_panel">
                <div class="x_title">
                  <h2>Coberturas Opcionales</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="table-responsive">
                  <table class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings">
                    <th class="column-title">Cobertura </th>
                    <th class="column-title">Suma Asegurada </th>
                    <th class="column-title">Acción
                    </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                    <th >
                          <select class="form-control">
                          <option value="Seleccione..">Seleccione..</option>
                          <option value="">APOV</option>
                          <option value="">Accesorios</option>
                          <option value="">Asistencia a viajes</option>
                          <option value="">Exceso de Límite</option>
                          <option value="">Defensa Penal</option>
                          </select>

                    </th>
                    <td >

                            <div class="form-group has-feedback">
                              <div class="form-group">
                                <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="">
                              </div>
                            </div>
                    </td>
                    <td><i class="fa fa-plus-square"></i></td>
                    </tr>
                  </tbody>
                  </table>
                </div>
            </div>
          </div>
          <div class="x_panel">
            <div class="x_title">
              <h2>Lista de Coberturas</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr role="row">
                          <th class="sorting_asc" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="1" style="width: 25%;" aria-label="First name: activate to sort column descending" aria-sort="ascending">Cobertura</th>
                          <th class="sorting" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="1" style="width: 25%;" aria-label="Last name: activate to sort column ascending">Tipo</th>
                              <th class="sorting" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="1" style="width: 25%;" aria-label="Last name: activate to sort column ascending">Suma Asegura</th>
                          <th class="sorting" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="1" style="width: 25%;" aria-label="Position: activate to sort column ascending">Accion</th>
                    </tr>
                  </thead>

                  <tbody>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">Cobertura Amplia</td>
                          <td class="">Básica</td>
                            <td class="">5.000.000</td>
                          <td ><a style="margin-right: 10px"><i class="fa fa-search"></i></a> <a style="margin-right: 10px"><i class="fa fa-pencil"></i></a> <a style="margin-right: 10px"><i class="fa fa-trash-o"></i></a></td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">Accesorios</td>
                          <td class="">Opcional</td>
                            <td class="">600.000</td>
                          <td ><a style="margin-right: 10px"><i class="fa fa-search"></i></a> <a style="margin-right: 10px"><i class="fa fa-pencil"></i></a> <a style="margin-right: 10px"><i class="fa fa-trash-o"></i></a></td>
                        </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
