<div ng-controller="inicioController as inicioCtrl">

  <div class="right_col" ng-show="inicioCtrl.views.reportes">
    <div class="x_panel">
      <div class="x_title">
        <h2>{{inicioCtrl.reporteTitle}}</h2>		
        <div class="clearfix"></div>
      </div>

      <div class="x_content">
        <div ng-show="inicioCtrl.reportesViews.polizaPersona || inicioCtrl.reportesViews.polizaPatrimonial || inicioCtrl.reportesViews.polizaAutomovil">
          <table id="tablaPolizasPorRamos" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="datatable-responsive_info" style="width: 100%;">
            <thead>
              <th>Aseguradora</th>
              <th>Ramo</th>
              <th>Subramo</th>
              <th>Cantidad</th>
              <th>Porcentaje</th>
            </thead>
          </table>
        </div>

        <div ng-show="inicioCtrl.reportesViews.siniestroPersona || inicioCtrl.reportesViews.siniestroPatrimonial || inicioCtrl.reportesViews.siniestroAutomovil || inicioCtrl.reportesViews.siniestroGeneral">
          <table id="tablaSiniestrosPorRamos" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="datatable-responsive_info" style="width: 100%;">
            <thead>
              <th>Aseguradora</th>
              <th>Ramo</th>
              <th>Subramo</th>
              <th>Cantidad</th>
              <th>Porcentaje</th>
            </thead>
          </table>
        </div>

        <div ng-show="inicioCtrl.reportesViews.primasCobradas || inicioCtrl.reportesViews.primasPendientes || inicioCtrl.reportesViews.comisionesCobradas || inicioCtrl.reportesViews.comisionesPendientes">
          <table id="tablaIndicadores" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="datatable-responsive_info" style="width: 100%;">
            <thead>
              <th>Aseguradora</th>
              <th>Monto</th>
              <th>Recibo póliza</th>
              <th>Ramo</th>
              <th>Subramo</th>
            </thead>
          </table>
        </div>

        <div ng-show="inicioCtrl.reportesViews.cantidadRenovaciones">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-3 col-md-offset-3">
                <div class="col-md-12">Fecha inicio</div>
                <div class="col-md-12">
                  <a class="dropdown-toggle" id="fechaInicioReporteRenovaciones" role="button" data-toggle="dropdown" data-target="#">
                  <div class="no-margin-bottom">
                    <input id="" type="text" name="date" class="form-control has-feedback-left" data-ng-model="inicioCtrl.fechaRenovaciones.inicio"
                      placeholder="YYYY-MM-DD" readonly>
                    <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                  </div>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <datetimepicker data-ng-model="inicioCtrl.fechaRenovaciones.inicio"
                    data-datetimepicker-config="{ dropdownSelector: '#fechaInicioReporteRenovaciones', startView:'day', minView:'day', modelType: 'YYYY-MM-DD', renderOn: 'end-date-changed' }"
                    data-on-set-time="inicioCtrl.startDateOnSetTime()"
                    data-before-render="inicioCtrl.startDateBeforeRender($dates)">
                  </datetimepicker>
                  </ul>
                </div>
              </div>
              <div class="col-md-3">
                <div class="col-md-12">Fecha fin</div>
                <div class="col-md-12">
                  <a class="dropdown-toggle" id="fechaFinReporteRenovaciones" role="button" data-toggle="dropdown" data-target="#">
                  <div class="no-margin-bottom">
                    <input id="" type="text" name="date" class="form-control has-feedback-left" data-ng-model="inicioCtrl.fechaRenovaciones.fin"
                    required="required" placeholder="YYYY-MM-DD" readonly>
                    <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                  </div>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <datetimepicker data-ng-model="inicioCtrl.fechaRenovaciones.fin"
                    data-datetimepicker-config="{ dropdownSelector: '#fechaFinReporteRenovaciones', startView:'day', minView:'day', modelType: 'YYYY-MM-DD', renderOn: 'start-date-changed' }"
                    data-on-set-time="inicioCtrl.endDateOnSetTime()"
                    data-before-render="inicioCtrl.endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)">
                  </datetimepicker>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 margin-top-20 margin-bot-20">
              <button type="button" class="btn btn-success col-sm-4 col-md-2 col-xs-12 col-md-offset-5 col-sm-offset-4 col-xs-offset-0" ng-click="inicioCtrl.cantidadRenovacionesService()">Buscar</button>
            </div>
          </div>
          <table id="tablaRenovaciones" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="datatable-responsive_info" style="width: 100%;">
            <thead>
              <th>Aseguradora</th>
              <th>Cantidad</th>
              <th>Ramo</th>
              <th>Subramo</th>
            </thead>
          </table>
        </div>

        <div ng-show="inicioCtrl.reportesViews.bonosCobrados">
          <table id="tablaBonosCobrados" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="datatable-responsive_info" style="width: 100%;">
            <thead>
              <th>Nombre</th>
              <th>Empresa</th>
              <th>Moneda</th>
              <th>Monto</th>
            </thead>
          </table>
        </div>

        <div class="ln_solid"></div>
        <div class="item form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3">
            <button type="button" class="btn btn-success col-sm-3 col-sm-offset-3 col-md-3 col-md-offset-3 col-xs-3 col-xs-offset-3" ng-click="inicioCtrl.imprimir()">Imprimir</button>
            <button type="button" class="btn btn-primary col-sm-3 col-md-3 col-xs-3" ng-click="inicioCtrl.viewsController('inicio')">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="inicioCtrl.views.inicio" ng-if = '!inicioCtrl.isAdmin'>
    <div class="right_col" role="main">
      <div class="row tile_count" >
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count cursor-pointer"  >
          <span class="count_top"> Recibos cobrados</span>
          <div class="count green">0</div>
          <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>0% </i> From last Week</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count cursor-pointer"  >
          <span class="count_top"> Recibos pendientes</span>
          <div class="count">0</div>
          <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>0% </i> From last Week</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count cursor-pointer"  >
          <span class="count_top"> Comisiones cobradas</span>
          <div class="count green">0</div>
          <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>0% </i> From last Week</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count cursor-pointer"  >
          <span class="count_top"> Comisiones pendientes</span>
          <div class="count">0</div>
          <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>0% </i> From last Week</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count cursor-pointer"  >
          <span class="count_top"> Bonos por aseguradoras</span><br>
          <span class="fontSize11">Bolívares: <b class="green">0 Bs</b></span><br>
          <span class="fontSize11">Dólares: <b class="green">0 $</b></span><br>
          <span class="fontSize11">Euros: <b class="green">0 €</b></span><br>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count cursor-pointer"  >
          <span class="count_top"> Bonos por financiadoras</span><br>
          <span class="fontSize11">Bolívares: <b class="green">0 Bs</b></span><br>
          <span class="fontSize11">Dólares: <b class="green">0 $</b></span><br>
          <span class="fontSize11">Euros: <b class="green">0 €</b></span><br>
        </div>
      </div>

        <div class="row" >
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">

              <div class="row x_title">
                <div class="col-md-6">
                  <h3>Bonos <small>Bonos por aseguradoras/financiadoras</small></h3>
                </div>
              </div>
              <div class="col-md-6" style="overflow:hidden;"   >
                  <div id='bonoAseguradoras' style="width: 100%; height:300px; position: relative; left: 0px; top: 0px;"></div>
                  <!--<h4 style="margin:18px">Weekly sales progress</h4>-->
                </div>

                <div class="col-md-6" style="overflow:hidden;"  >
                  <div id='bonoFinanciadoras' style="width: 100%; height:300px; position: relative; left: 0px; top: 0px;"></div>
                </div>
              <div class="clearfix"></div>
            </div>
          </div>

        </div>

        </br>

        <div class="row">

          <div class="col-md-4 col-sm-4 col-xs-12">
				<div class="x_panel tile fixed_height_320 overflow_hidden">
				  <div class="x_title">
					<h2>Cantidad de pólizas por ramos</h2>
					<div class="clearfix"></div>
				  </div>
				  <div class="x_content">
					<table class="" style="width:100%">
					  <tr>
						<th style="width:37%;">
						  <p>Gráfica</p>
						</th>
						<th>
						  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
							<p class="">Ramos</p>
						  </div>
						  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
							<p class="">Porcentaje</p>
						  </div>
						</th>
					  </tr>
					  <tr>
						<td>
						  <canvas id="polizasPorRamo" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
						</td>
						<td>
						  <table class="tile_info">
							<tr class="cursor-pointer donaItem" ng-click="inicioCtrl.reportesController('polizaPersona')">
							  <td><p><i class="fa fa-square blue"></i>Persona </p></td>
							  <td>{{inicioCtrl.polizasPorRamo.percentPER | number: 1}}%</td>
							</tr>
							<tr class="cursor-pointer donaItem" ng-click="inicioCtrl.reportesController('polizaPatrimonial')">
							  <td><p><i class="fa fa-square green"></i>Patrimonial </p></td>
							  <td>{{inicioCtrl.polizasPorRamo.percentPAT | number: 1}}%</td>
							</tr>
							<tr class="cursor-pointer donaItem" ng-click="inicioCtrl.reportesController('polizaAutomovil')">
							  <td><p><i class="fa fa-square red"></i>Automóvil </p></td>
							  <td>{{inicioCtrl.polizasPorRamo.percentAUT | number: 1}}%</td>
							</tr>
						  </table>
						</td>
					  </tr>
					</table>
				  </div>
				</div>
          </div>

          <div class="col-md-8 cursor-pointer" style="overflow:hidden;" ng-click="inicioCtrl.reportesController('cantidadRenovaciones')">
            <div id='renovarPolizas' style="width: 100%; height:300px; position: relative; left: 0px; top: 0px;"></div>
          </div>
        </div>

      <div class="row">

          <div class="col-md-8 cursor-pointer" style="overflow:hidden;" ng-click="inicioCtrl.reportesController('siniestroGeneral')">

            <div id='siniestrosPorAseguradora' style="width: 100%; height:300px; position: relative; left: 0px; top: 0px;"></div>

          </div>

          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320 overflow_hidden">
              <div class="x_title">
                <h2>Cantidad de siniestros por ramos</h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <table class="" style="width:100%">
                  <tr>
                    <th style="width:37%;">
                      <p>Siniestros</p>
                    </th>
                    <th>
                      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <p class="">Ramos</p>
                      </div>
                      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <p class="">Porcentaje</p>
                      </div>
                    </th>
                  </tr>
                  <tr>
                    <td>
                      <canvas id="siniestrosPorRamo" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                    </td>
                    <td>
                      <table class="tile_info">
                        <tr class="cursor-pointer donaItem" ng-click="inicioCtrl.reportesController('siniestroPersona')">
                          <td><p><i class="fa fa-square blue"></i>Persona </p></td>
                          <td>{{inicioCtrl.siniestrosPorRamo.percentPER | number: 1}}%</td>
                        </tr>
                        <tr class="cursor-pointer donaItem" ng-click="inicioCtrl.reportesController('siniestroPatrimonial')">
                          <td><p><i class="fa fa-square green"></i>Patrimonial </p></td>
                          <td>{{inicioCtrl.siniestrosPorRamo.percentPAT | number: 1}}%</td>
                        </tr>
                        <tr class="cursor-pointer donaItem" ng-click="inicioCtrl.reportesController('siniestroAutomovil')">
                          <td><p><i class="fa fa-square red"></i>Automóvil </p></td>
                          <td>{{inicioCtrl.siniestrosPorRamo.percentAUT | number: 1}}%</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
	
	<!--  pruebaaa  ng-if  -->
	<div ng-show="inicioCtrl.views.inicio" ng-if = 'inicioCtrl.isAdmin'>
    <div class="right_col" role="main">
      <div class="row tile_count" >
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count cursor-pointer"  style=" width: fit-content; " ng-click="inicioCtrl.reportesController('primasCobradas')" >
          <span class="count_top"> Recibos cobrados</span>
          <div class="count green">{{inicioCtrl.primasCobradas}}</div>
          <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>0% </i> From last Week</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count cursor-pointer"  style=" width: fit-content; " ng-click="inicioCtrl.reportesController('primasPendientes')" >
          <span class="count_top"> Recibos pendientes</span>
          <div class="count" >{{inicioCtrl.primasPendientes}}</div>
          <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>0% </i> From last Week</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count cursor-pointer"  style=" width: fit-content; " ng-click="inicioCtrl.reportesController('comisionesCobradas')" >
          <span class="count_top"> Comisiones cobradas</span>
          <div class="count green">{{inicioCtrl.comisionesCobradas}}</div>
          <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>0% </i> From last Week</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count cursor-pointer"  style=" width: fit-content; " ng-click="inicioCtrl.reportesController('comisionesPendientes')" >
          <span class="count_top"> Comisiones pendientes</span>
          <div class="count">{{inicioCtrl.comisionesPendientes}}</div>
          <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>0% </i> From last Week</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count cursor-pointer"  style=" width: fit-content; " ng-click="inicioCtrl.reportesController('bonosCobrados', 'aseguradoras')" >
          <span class="count_top"> Bonos por aseguradoras</span><br>
          <!-- <div class="count green">{{inicioCtrl.bonosAseguradoras}}</div> -->
          <span class="fontSize11">Bolívares: <b class="green">{{inicioCtrl.bonosAseguradoras.bolivares}} Bs</b></span><br>
          <span class="fontSize11">Dólares: <b class="green">{{inicioCtrl.bonosAseguradoras.dolares}} $</b></span><br>
          <span class="fontSize11">Euros: <b class="green">{{inicioCtrl.bonosAseguradoras.euros}} €</b></span><br>
          <!-- <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>0% </i> From last Week</span> -->
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count cursor-pointer"  style=" width: fit-content; " ng-click="inicioCtrl.reportesController('bonosCobrados', 'financiadoras')" >
          <span class="count_top"> Bonos por financiadoras</span><br>
          <!-- <div class="count green">{{inicioCtrl.bonosFinanciadoras}}</div> -->
          <span class="fontSize11">Bolívares: <b class="green">{{inicioCtrl.bonosFinanciadoras.bolivares}} Bs</b></span><br>
          <span class="fontSize11">Dólares: <b class="green">{{inicioCtrl.bonosFinanciadoras.dolares}} $</b></span><br>
          <span class="fontSize11">Euros: <b class="green">{{inicioCtrl.bonosFinanciadoras.euros}} €</b></span><br>
          <!-- <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>0% </i> From last Week</span> -->
        </div>
      </div>
        <!--<div class="row top_tiles" style="margin: 10px 0;">
          <div class="col-md-3 col-sm-3 col-xs-6 tile">
            <span><b>Comisiones Cobradas</b></span>
            <h2 class="greenColor">{{inicioCtrl.comisionesCobradas}}</h2>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 tile">
            <span><b>Comisiones Pendientes</b></span>
            <h2 class="orangeColor">{{inicioCtrl.comisionesPendientes}}</h2>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 tile">
            <span><b>Primas Cobradas</b></span>
            <h2 class="greenColor">{{inicioCtrl.primasCobradas}}</h2>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 tile">
            <span><b>Primas Pendientes</b></span>
            <h2 class="orangeColor">{{inicioCtrl.primasPendientes}}</h2>
          </div>
        </div>-->

        <div class="row" >
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">

              <div class="row x_title">
                <div class="col-md-6">
                  <h3>Bonos <small>Bonos por aseguradoras/financiadoras</small></h3>
                </div>
                <!--<div class="col-md-6">
                  <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                  </div>
                </div>-->
              </div>

              <!--<div class="row" style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">-->
                <div class="col-md-6" style="overflow:hidden;" ng-click="inicioCtrl.reportesController('bonosCobrados', 'aseguradoras')"  >
                  <div id='bonoAseguradoras' style="width: 100%; height:300px; position: relative; left: 0px; top: 0px;"></div>
                  <!--<h4 style="margin:18px">Weekly sales progress</h4>-->
                </div>

                <div class="col-md-6" style="overflow:hidden;" ng-click="inicioCtrl.reportesController('bonosCobrados', 'financiadoras')" >
                  <div id='bonoFinanciadoras' style="width: 100%; height:300px; position: relative; left: 0px; top: 0px;"></div>
                </div>
              <div class="clearfix"></div>
            </div>
          </div>

        </div>

        </br>

        <div class="row">

          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320 overflow_hidden">
              <div class="x_title">
                <h2>Cantidad de pólizas por ramos</h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <table class="" style="width:100%">
                  <tr>
                    <th style="width:37%;">
                      <p>Gráfica</p>
                    </th>
                    <th>
                      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <p class="">Ramos</p>
                      </div>
                      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <p class="">Porcentaje</p>
                      </div>
                    </th>
                  </tr>
                  <tr>
                    <td>
                      <canvas id="polizasPorRamo" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                    </td>
                    <td>
                      <table class="tile_info">
                        <tr class="cursor-pointer donaItem" ng-click="inicioCtrl.reportesController('polizaPersona')">
                          <td><p><i class="fa fa-square blue"></i>Persona </p></td>
                          <td>{{inicioCtrl.polizasPorRamo.percentPER | number: 1}}%</td>
                        </tr>
                        <tr class="cursor-pointer donaItem" ng-click="inicioCtrl.reportesController('polizaPatrimonial')">
                          <td><p><i class="fa fa-square green"></i>Patrimonial </p></td>
                          <td>{{inicioCtrl.polizasPorRamo.percentPAT | number: 1}}%</td>
                        </tr>
                        <tr class="cursor-pointer donaItem" ng-click="inicioCtrl.reportesController('polizaAutomovil')">
                          <td><p><i class="fa fa-square red"></i>Automóvil </p></td>
                          <td>{{inicioCtrl.polizasPorRamo.percentAUT | number: 1}}%</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="col-md-8 cursor-pointer" style="overflow:hidden;" ng-click="inicioCtrl.reportesController('cantidadRenovaciones')">
            <div id='renovarPolizas' style="width: 100%; height:300px; position: relative; left: 0px; top: 0px;"></div>
          </div>
        </div>

      <div class="row">

          <div class="col-md-8 cursor-pointer" style="overflow:hidden;" ng-click="inicioCtrl.reportesController('siniestroGeneral')">

            <div id='siniestrosPorAseguradora' style="width: 100%; height:300px; position: relative; left: 0px; top: 0px;"></div>

          </div>

          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320 overflow_hidden">
              <div class="x_title">
                <h2>Cantidad de siniestros por ramos</h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <table class="" style="width:100%">
                  <tr>
                    <th style="width:37%;">
                      <p>Siniestros</p>
                    </th>
                    <th>
                      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <p class="">Ramos</p>
                      </div>
                      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <p class="">Porcentaje</p>
                      </div>
                    </th>
                  </tr>
                  <tr>
                    <td>
                      <canvas id="siniestrosPorRamo" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                    </td>
                    <td>
                      <table class="tile_info">
                        <tr class="cursor-pointer donaItem" ng-click="inicioCtrl.reportesController('siniestroPersona')">
                          <td><p><i class="fa fa-square blue"></i>Persona </p></td>
                          <td>{{inicioCtrl.siniestrosPorRamo.percentPER | number: 1}}%</td>
                        </tr>
                        <tr class="cursor-pointer donaItem" ng-click="inicioCtrl.reportesController('siniestroPatrimonial')">
                          <td><p><i class="fa fa-square green"></i>Patrimonial </p></td>
                          <td>{{inicioCtrl.siniestrosPorRamo.percentPAT | number: 1}}%</td>
                        </tr>
                        <tr class="cursor-pointer donaItem" ng-click="inicioCtrl.reportesController('siniestroAutomovil')">
                          <td><p><i class="fa fa-square red"></i>Automóvil </p></td>
                          <td>{{inicioCtrl.siniestrosPorRamo.percentAUT | number: 1}}%</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
	
  </div>

</div>
