<div class="right_col" role="main" ng-controller="monedaController as monedaCtrl">

  <!-- ********************************************************************************************************
  *************************************************************************************************************
  **                                                AGREGAR MONEDA                                           **
  *************************************************************************************************************
  ********************************************************************************************************* -->

  <div class="consultarMonedasVer" ng-click="monedaCtrl.ver(monedaCtrl.monedaModalVer)"></div>
  <div class="consultarMonedasEditar" ng-click="monedaCtrl.editar(monedaCtrl.editar(monedaCtrl.editarMoneda))"></div>


  <div ng-show="monedaCtrl.views.agregarMoneda">

    <div class="x_panel animateFade">
      <div class="x_title">
        <h2>Agregar moneda <small>Proceso de registro de una nueva moneda</small></h2>

        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <form id="monedaDatos" data-parsley-validate class="form-horizontal form-label-left">

          <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Nombre<span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" id="nombreMoneda" placeholder="Nombre de la moneda" data-validate-length-range="2" required="required" ng-model="monedaCtrl.agregarMoneda.nombreMoneda">
              <span class="fa fa-money form-control-feedback left" aria-hidden="true"></span>
            </div>
          </div>

          <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Abreviatura<span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" id="acronimoMoneda" placeholder="Abreviatura de la moneda" data-validate-length-range="1" required="required" ng-model="monedaCtrl.agregarMoneda.resumenMoneda">
              <span class="fa fa-dollar form-control-feedback left" aria-hidden="true"></span>
            </div>
          </div>
        </form>

        <div class="ln_solid"></div>
        <div class="item form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
            <button id="send" class="btn btn-success col-sm-3 col-sm-offset-3 col-md-3 col-md-offset-3 col-xs-3 col-xs-offset-3" ng-click="monedaCtrl.submit()">Guardar</button>
            <button type="submit" class="btn btn-primary col-sm-3 col-md-3 col-xs-3" ng-click="monedaCtrl.cancelar()">Limpiar</button>
          </div>
        </div>
       </div>
     </div>
   </div>

   <!-- ********************************************************************************************************
   *************************************************************************************************************
   **                                                VER MONEDA                                           **
   *************************************************************************************************************
   ********************************************************************************************************* -->

   <div class="modal fade verMonedaModal" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-lg">
       <div class="modal-content">

         <div class="modal-header paddingLeft30">
           <h4 class="modal-title" id="myModalLabel">Datos de la moneda</h4>
         </div>

         <div class="modal-body">
           <div class="table-responsive">
             <table class="table table-striped jambo_table bulk_action">
               <thead>
                   <th class="column-title" colspan="2" style="text-align: center;">Datos de la moneda</th>
               </thead>

               <tbody>
                 <tr class="even pointer">
                   <td class="textRight" style="width: 50%;"><b>Moneda</b></td>
                   <td class=" ">{{monedaCtrl.monedaModalVer.nombreMoneda}}</td>
                 </tr>
                 <tr class="odd pointer">
                   <td class="textRight"><b>Abreviatura</b></td>
                   <td class=" ">{{monedaCtrl.monedaModalVer.resumenMoneda}}</td>
                 </tr>
               </tbody>
             </table>
           </div>
         </div>
         <div class="modal-footer textCenter">
           <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="monedaCtrl.eliminarModal('cancelar')">Cerrar</button>
         </div>

       </div>
     </div>
   </div>

   <!-- ********************************************************************************************************
   *************************************************************************************************************
   **                                                EDITAR MONEDA                                           **
   *************************************************************************************************************
   ********************************************************************************************************* -->

    <div ng-show="monedaCtrl.views.editarMoneda">

    <div class="x_panel animateFade">
      <div class="x_title">
        <h2>Editar moneda <small>Proceso de registro de una nueva moneda</small></h2>
        <!-- <ul class="nav navbar-right custom_panel_toolbox">
          <li><a class="moneda collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul> -->
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <form id="monedaDatos2" data-parsley-validate class="form-horizontal form-label-left">

          <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Moneda<span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" id="nombreMoneda2" placeholder="Nombre de la moneda" data-validate-length-range="3" required="required" ng-model="monedaCtrl.editarMoneda.nombreMoneda">
              <span class="fa fa-money form-control-feedback left" aria-hidden="true"></span>
            </div>
          </div>

          <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Abreviatura<span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" id="acronimoMoneda2" placeholder="Acrónimo de la moneda" data-validate-length-range="1" required="required" ng-model="monedaCtrl.editarMoneda.resumenMoneda">
              <span class="fa fa-dollar form-control-feedback left" aria-hidden="true"></span>
            </div>
          </div>

          <div class="item form-group">
            <label class="control-label has-feedback-left col-md-3 col-sm-3 col-xs-12">Estatus<span class="required"></span></label>
            <div class="col-md-6 col-sm-6 col-xs-12 required" data-validate-length-range="3" required="required" type="text">
              <select class="form-control" id="estatusMoneda" ng-model="monedaCtrl.editarMoneda.estatusMoneda" required="required">
              <option value="">Seleccionar</option>
              <option value ="1">Activo</option>
              <option value ="0">Inactivo</option>
              </select>
            </div>
          </div>
        </form>

        <div class="ln_solid"></div>
        <div class="item form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
            <button id="send" class="btn btn-success col-sm-3 col-sm-offset-3 col-md-3 col-md-offset-3 col-xs-3 col-xs-offset-3" ng-click="monedaCtrl.submit2()">Guardar</button>
            <button type="submit" class="btn btn-primary col-sm-3 col-md-3 col-xs-3" ng-click="monedaCtrl.viewsController('listarMonedas')">Cancelar</button>
          </div>
        </div>
       </div>
     </div>
   </div>



   <!-- ********************************************************************************************************
   *************************************************************************************************************
   **                                                CONSULTAR MONEDA                                         **
   *************************************************************************************************************
   ********************************************************************************************************* -->

  <div id="listarMonedas" class="row animateFade" ng-show="monedaCtrl.views.listarMonedas">
    <div class="x_panel">
      <div class="x_title">
        <h2>Consultar monedas<small>Lista de monedas</small></h2>

        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table id="tablaConsultarMonedas" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
          <thead>
            <th>Moneda</th>
            <th>Tipo</th>
            <th>Estatus</th>
            <th>Acción</th>
          </thead>

        </table>
      </div>
    </div>
  </div>
</div>
