<div class="right_col" role="main" ng-controller="rolesController as rolesCtrl">

  <div class="modal fade eliminarRolModal modal-question" style="vertical-align: center;" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-question" style="vertical-align: center;">
      <div class="modal-content modal-content-question">

        <div class="modal-header modal-header-question">
          <h4 class="modal-title" id="myModalLabel2">¡Advertencia!</h4>
        </div>

        <div class="modal-body">
          <h5 class="text-center">¿Está seguro que desea eliminar el rol {{rolesCtrl.nombreEliminarRol}}?</h5>
          </br>
          <div class="row text-center">
            <button type="button" class="btn btn-success col-md-2 col-md-offset-4" >Aceptar</button>
            <button type="button" class="btn btn-primary col-md-2" data-dismiss="modal">Cancelar</button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade verRolModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Datos del rol</h4>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
              <thead>
                <tr class="headings">
                  <th class="column-title" style="text-align: center;" colspan="2">Descripción del rol</th>
                </tr>
              </thead>

              <tbody>
                <tr class="even pointer">
                  <td class="textRight col-md-5"><b>Nombre</b></td>
                  <td class="col-md-7">{{rolesCtrl.nombreRolModal ? rolesCtrl.nombreRolModal : 'N/A'}}</td>
                </tr>
                <tr class="even pointer">
                  <td class="textRight col-md-5"><b>Código</b></td>
                  <td class="col-md-7">{{rolesCtrl.codigoRolModal ? rolesCtrl.codigoRolModal : 'N/A'}}</td>
                </tr>
                <tr class="odd pointer">
                  <td class="textRight"><b>Descripción</b></td>
                  <td class=" ">{{rolesCtrl.descripcionRolModal ? rolesCtrl.descripcionRolModal : 'N/A'}}</td>
                </tr>
                <tr class="odd pointer">
                  <td class="textRight"><b>Estatus</b></td>
                  <td class=" ">{{rolesCtrl.estatusRolModal ? rolesCtrl.estatusRolModal : 'N/A'}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>

        <div class="modal-footer textCenter">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>

      </div>
    </div>
  </div>

  <div class="x_panel animateFade" ng-show="rolesCtrl.views.gestionarRoles">
    <div class="x_title">
      <h2>Gestionar roles<small>Creación, edición y eliminación de roles.</small></h2>
      <div class="clearfix"></div>
    </div>

    <form id="formularioAgregarRol" class="form-horizontal form-label-left">
      <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Nombre <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input type="text" id="aseguradoRIF" class="form-control has-feedback-left col-md-7 col-xs-12" ng-model="rolesCtrl.nuevoRol.nombre" required="required" data-validate-length-range="3" placeholder="Nombre">
          <span class="fa fa-list-alt form-control-feedback left" aria-hidden="true"></span>
        </div>
      </div>

      <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Código <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input ng-model="rolesCtrl.nuevoRol.codigo" id="aseguradoRIF" class="form-control has-feedback-left col-md-7 col-xs-12" type="text" maxlength="5" required="required" placeholder="Código">
          <span class="fa fa-tag form-control-feedback left" aria-hidden="true"></span>
        </div>
      </div>

      <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Descripción <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <textarea type="text" id="" class="form-control col-md-7 col-xs-12" ng-model="rolesCtrl.nuevoRol.descripcion" data-validate-length-range="3" required="required"
            data-parsley-minlength="10" data-parsley-maxlength="200" type="text">
          </textarea>
          <!-- <span class="fa fa-list-alt form-control-feedback left" aria-hidden="true"></span> -->
        </div>
      </div>

      <div class="item form-group" ng-show="rolesCtrl.editandoRol">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Estatus <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12 required" data-validate-length-range="3" required="required" type="text">
          <select class="form-control" ng-options="estatus for estatus in rolesCtrl.estatus" ng-model="rolesCtrl.nuevoRol.estatus">
            <option value="">Seleccione..</option>
          </select>
        </div>
      </div>

      <div class="item form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
          <button type="button" class="btn btn-success col-sm-3 col-sm-offset-3 col-md-3 col-md-offset-3 col-xs-3 col-xs-offset-3" ng-click="rolesCtrl.agregarRol()">{{rolesCtrl.editandoRol ? 'Guardar' : 'Agregar'}}</button>
          <button type="button" class="btn btn-primary col-sm-3 col-md-3 col-xs-3" ng-click="rolesCtrl.cancelarAgregarRol()">Cancelar</button>
        </div>
      </div>
    </form>

    </br>

    <div id="datatable-responsive_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer col-sm-6 col-md-6 col-xs-12 col-md-offset-3 col-sm-offset-3">
      <!-- <div class="row">
        <div class="col-sm-6">
          <div class="dataTables_length" id="datatable-responsive_length">
            <label>Show <select name="datatable-responsive_length" aria-controls="datatable-responsive" class="form-control input-sm">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select> entries</label>
          </div>
        </div>
        <div class="col-sm-6 pull-right">
          <div id="datatable-responsive_filter" class="pull-right">
            <label>Search:
              <input type="search" class="form-control input-sm" placeholder="" aria-controls="datatable-responsive">
            </label>
          </div>
        </div>
      </div> -->
      <div class="row animateFade" ng-show="rolesCtrl.mostrarRoles">
        <div class="col-sm-12">
          <table id="datatable-responsive" class="table table-striped jambo_table bulk_action" cellspacing="0" width="100%" role="grid" aria-describedby="datatable-responsive_info" style="width: 100%;">
            <thead>
              <tr role="row">
              <th class="sorting text-center" style="width: 40%;">Nombre</th>
              <th class="sorting text-center" style="width: 30%;">Estatus</th>
              <th class="sorting text-center" style="width: 30%;">Acción</th>
            </thead>
            <tbody>
              <tr class="animateFade" ng-repeat="rol in rolesCtrl.roles" ng-show="!rol.editar">
                <td class="text-center">{{rol.nombre}}</td>
                <td class="text-center">{{rol.estatus}}</td>
                <td class="text-center">
                  <a style="margin-right: 10px" data-toggle="modal" data-target="" ng-click="rolesCtrl.verRolModal(rol)">
                    <i class="fa fa-search cursor-pointer"></i>
                  </a>
                  <a ng-if="!rol.default" style="margin-right: 10px" ng-click="rolesCtrl.editarRol(rol)">
                    <i class="fa fa-pencil cursor-pointer"></i>
                  </a>
                  <!--<a style="margin-right: 10px" ng-click="rolesCtrl.eliminarRol(rol)">
                    <i class="fa fa-trash-o cursor-pointer"></i>
                  </a>-->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="datatable-responsive_info" role="status" aria-live="polite">Showing 1 to n of {{rolesCtrl.roles.length}} entries
          </div>
        </div>
        <div class="col-sm-7">
          <div class="dataTables_paginate paging_simple_numbers" id="datatable-responsive_paginate">
            <ul class="pagination">
              <li class="paginate_button previous disabled" id="datatable-responsive_previous">
                <a href="#" aria-controls="datatable-responsive" data-dt-idx="0" tabindex="0">Previous</a>
              </li>
              <li class="paginate_button active">
                <a href="#" aria-controls="datatable-responsive" data-dt-idx="1" tabindex="0">1</a>
              </li>
              <li class="paginate_button ">
                <a href="#" aria-controls="datatable-responsive" data-dt-idx="2" tabindex="0">2</a>
              </li>
              <li class="paginate_button ">
                <a href="#" aria-controls="datatable-responsive" data-dt-idx="3" tabindex="0">3</a>
              </li><li class="paginate_button ">
                <a href="#" aria-controls="datatable-responsive" data-dt-idx="4" tabindex="0">4</a>
              </li>
              <li class="paginate_button ">
                <a href="#" aria-controls="datatable-responsive" data-dt-idx="5" tabindex="0">5</a>
              </li>
              <li class="paginate_button ">
                <a href="#" aria-controls="datatable-responsive" data-dt-idx="6" tabindex="0">6</a>
              </li>
              <li class="paginate_button next" id="datatable-responsive_next">
                <a href="#" aria-controls="datatable-responsive" data-dt-idx="7" tabindex="0">Next</a>
              </li>
            </ul>
          </div>
        </div>
      </div> -->
    </div>

  </div>

  <div class="x_panel animateFade" ng-show="rolesCtrl.views.asignarPermisos">
    <div class="x_title">
      <h2>Asignar permisos<small>Asignación de permisos a cada rol.</small></h2>
      <div class="clearfix"></div>
    </div>

    <div class="x_content">
      <form data-parsley-validate class="form-horizontal form-label-left">
        <div class="item form-group">
          <label class="control-label has-feedback-left col-md-3 col-sm-3 col-xs-12">Rol </label>
          <div class="col-md-6 col-sm-6 col-xs-12 required" data-validate-length-range="3" required="required" type="text">
            <select class="form-control" ng-options="rol as rol.nombre for rol in rolesCtrl.roles" ng-model="rolesCtrl.rolSeleccionado" ng-change="rolesCtrl.switchRol()">
              <option value="">Seleccione..</option>
            </select>
          </div>
        </div>

        </br>

        <div class="row">
          <div class="col-md-6">
            <div class="well no-border-radius">
              <div class="row">
                <h2 class="text-center no-margin-top">Permisos disponibles</h2>
                <div class="col-md-12 form-group">
                  <div class="input-group input-group-custom">
                    <span class="input-group-addon glyphicon glyphicon-search no-border-radius" style="top: 0px;"></span>
                    <input type="text" class="form-control" ng-model="rolesCtrl.buscarDisponibles" placeholder="Buscar">
                    <span class="input-group-addon glyphicon glyphicon-check selector" style="cursor: pointer; top: 0px;" title="Seleccionar todos" ng-click="rolesCtrl.seleccionarDisponibles()"></span>
                    <span class="input-group-addon glyphicon glyphicon-plus move-left no-border-radius" style="cursor: pointer; top: 0px;" title="Agregar seleccionados" ng-click="rolesCtrl.agregarSeleccion()"></span>
                  </div>
                </div>
              </div>

              <ul class="list-group list-group-custom no-border-radius no-margin-bottom" style="height: 210px; overflow-y: auto;">
                <li ng-repeat="item in rolesCtrl.permisologia | filter: rolesCtrl.buscarDisponibles" class="list-group-item text-center no-border-radius" ng-class="item.toggle ? 'active' : ''" ng-show="!item.activo" ng-click="rolesCtrl.togglePermiso(item);">
                  {{item.nombre}}
                  <span class="pull-right cursor-pointer" ng-click="rolesCtrl.switchPermiso(item)"><i class="fa fa-plus"></i></span>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-6">
            <div class="well text-right no-border-radius">
              <div class="row">
                <h2 class="text-center no-margin-top">Permisos asignados</h2>
                <div class="col-md-12 form-group">
                  <div class="input-group input-group-custom">
                    <span class="input-group-addon glyphicon glyphicon-search no-border-radius" style="top: 0px;"></span>
                    <input type="text" class="form-control" ng-model="rolesCtrl.buscarAsignados" placeholder="Buscar">
                    <span class="input-group-addon glyphicon glyphicon-check selector" style="cursor: pointer; top: 0px;" title="Seleccionar todos" ng-click="rolesCtrl.seleccionarAsignados()"></span>
                    <span class="input-group-addon glyphicon glyphicon-minus move-right no-border-radius" style="cursor: pointer; top: 0px;" title="Remover seleccionados" ng-click="rolesCtrl.removerSeleccion()"></span>
                  </div>
                </div>
              </div>

              <ul class="list-group list-group-custom no-border-radius no-margin-bottom" id="dual-list-right" style="height: 210px; overflow-y: auto;">
                <li ng-repeat="item in rolesCtrl.permisologia | filter: rolesCtrl.buscarAsignados" class="list-group-item text-center no-border-radius" ng-class="item.toggle ? 'active' : ''" ng-show="item.activo" ng-click="rolesCtrl.togglePermiso(item);">
                  {{item.nombre}}
                  <span class="pull-left cursor-pointer" ng-click="rolesCtrl.switchPermiso(item)"><i class="fa fa-minus"></i></span>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="item form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
            <button type="button" class="btn btn-success col-sm-3 col-sm-offset-3 col-md-3 col-md-offset-3 col-xs-3 col-xs-offset-3" ng-click="rolesCtrl.guardarPermisosService()">Guardar</button>
            <button type="button" class="btn btn-primary col-sm-3 col-md-3 col-xs-3" ng-click="rolesCtrl.cancelar()">Cancelar</button>
          </div>
        </div>
      </form>

    </div>

    <div class="">
    </div>

  </div>
</div>
